# Ignore some static files and directories.
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/composer.json
/admin/
/assets/
/data/
/includes/
/install/
/uploads/
/vendor/

# Ignore fix module files and directories.
/modules/*
!/modules/onesignal
!/modules/onesignal/*
/themes/*
!/themes/admin_default/css/onesignal.css
!/themes/admin_default/js/onesignal.js
!/themes/admin_default/js/onesignal_*.js
!/themes/admin_default/images/onesignal
!/themes/admin_default/images/onesignal/*
!/themes/admin_default/modules/onesignal
!/themes/admin_default/modules/onesignal/*
!/themes/default/css/onesignal.css
!/themes/default/js/onesignal.js
!/themes/default/js/onesignal_*.js
!/themes/default/images/onesignal
!/themes/default/images/onesignal/*
!/themes/default/modules/onesignal
!/themes/default/modules/onesignal/*
/.project
/.settings/
/.buildpath
/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml
/error.php
